Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxlint {staged_files}
      stage_fixed: true
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxfmt {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck

feat: add file-cli commands with examples and documentation
  .github/workflows/ci.yml
  docs/api-reference.md
  docs/doc-generation.md
  package-lock.json
  package.json
  playground/22-examples/README-isolated.md
  playground/22-examples/README.md
  playground/22-examples/index.test.ts
  playground/22-examples/index.ts
  src/core/command.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/example-executor.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
  src/index.ts
  src/output/help-generator.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat(ci): add PR coverage reports with octocov
  .github/workflows/ci.yml
  .octocov.yml
  vitest.config.ts
Due: oxlint, oxfmt, typecheck

chore: ignore test temp files and coverage directory
  .gitignore
Due: none

refactor(ci): remove redundant upload-artifact step
  .github/workflows/ci.yml
Due: none

chore: remove redundant octocov config option
  .octocov.yml
Due: none

chore: hide octocov footer link
  .octocov.yml
Due: none

chore: run octocov on all CI events
  .github/workflows/ci.yml
Due: none

chore: update octocov-action to latest SHA
  .github/workflows/ci.yml
Due: none

fix: ensure oxfmt runs after organize-imports in lefthook
  lefthook.yml
Due: none

fix: disable parallel execution in lefthook for correct ordering
  lefthook.yml
  src/core/command.ts
  src/docs/default-renderers.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/index.ts
  src/output/help-generator.ts
Due: oxlint, oxfmt, typecheck

fix: allow golden test to access actual filesystem
  playground/22-examples/index.test.ts
Due: oxlint, oxfmt, typecheck

fix: correct hideFooterLink option name in octocov config
  .octocov.yml
Due: none

chore: remove hideFooterLink setting
  .octocov.yml
Due: none

refactor: reduce any type usage by consolidating type aliases
  src/core/command.ts
  src/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

refactor: strengthen ArgsSchema generic constraints
  knip.json
  src/types.test-d.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat: add stdout/stderr output order preservation for examples
  src/docs/default-renderers.ts
  src/docs/example-executor.test.ts
  src/docs/example-executor.ts
  src/docs/types.ts
Due: oxlint, oxfmt, typecheck

test: add comprehensive tests for doc generation options
  src/docs/golden-test.test.ts
Due: oxlint, oxfmt, typecheck

feat: throw error when ignores contains non-existent command paths
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
Due: oxlint, oxfmt, typecheck

feat: add wildcard support for files and ignores in doc generation
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
Due: oxlint, oxfmt, typecheck

docs: document wildcard support for files and ignores
  docs/doc-generation.md
Due: none

fix: add report.datastores to store coverage on main branch
  .octocov.yml
Due: none

feat: unify and extend log capture system
  playground/22-examples/index.test.ts
  src/core/runner.ts
  src/docs/example-executor.ts
  src/executor/command-runner.ts
  src/executor/log-collector.test.ts
  src/executor/log-collector.ts
  src/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat(docs): change targetCommand to targetCommands to support multiple commands
  docs/doc-generation.md
  playground/22-examples/index.test.ts
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
  src/docs/types.ts
Due: oxlint, oxfmt, typecheck

feat(docs): expand targetCommands to include subcommands not in files
  docs/doc-generation.md
  playground/22-examples/README.md
  playground/22-examples/index.test.ts
  playground/22-examples/index.ts
  src/docs/golden-test.ts
Due: oxlint, oxfmt, typecheck

feat(docs): improve document structure with depth-based headings and bold sections
  docs/doc-generation.md
  playground/01-hello-world/README.md
  playground/02-greet/README.md
  playground/03-array-args/README.md
  playground/04-type-coercion/README.md
  playground/05-lifecycle-hooks/README.md
  playground/06-cp-command/README.md
  playground/07-gcc-command/README.md
  playground/08-cat-command/README.md
  playground/09-convert-command/README.md
  playground/10-subcommands/README.md
  playground/11-nested-subcommands/README.md
  playground/12-discriminated-union/README.md
  playground/13-intersection/README.md
  playground/14-transform-refine/README.md
  playground/15-complete-cli/README.md
  playground/16-show-subcommand-options/README.md
  playground/16-show-subcommand-options/index.test.ts
  playground/17-deep-nested-subcommands/README.md
  playground/17-deep-nested-subcommands/index.test.ts
  playground/18-union-types/README.md
  playground/19-xor-types/README.md
  playground/20-meta/README.md
  playground/21-lazy-subcommands/README.md
  playground/22-examples/README.md
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
Due: oxlint, oxfmt, typecheck

docs: sync documentation with implementation
  README.md
  docs/api-reference.md
  docs/index.md
Due: none

chore: remove weekend-only schedule restriction from Renovate
  renovate.json
Due: oxlint, oxfmt

chore: enable Dependency Dashboard for Renovate
  renovate.json
Due: oxlint, oxfmt

feat: enable aqua package updates with checksum verification
  aqua-checksums.json
  aqua.yaml
  renovate.json
Due: oxlint, oxfmt

feat: add interactive input feature for undefined fields
  knip.json
  package.json
  src/core/arg-registry.ts
  src/core/command.ts
  src/core/runner.ts
  src/index.ts
  src/interactive/config-resolver.ts
  src/interactive/default-prompt.ts
  src/interactive/field-selector.ts
  src/interactive/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

fix: correct runner image and changesets action version
  .github/workflows/release.yml
Due: none

feat: export parseArgv function from main entry point
  .changeset/export-parse-argv.md
  CLAUDE.md
  src/index.ts
Due: oxlint, oxfmt, typecheck

fix: remove postUpgradeTasks and add autofix.ci workflow for aqua checksum
  .github/workflows/aqua-checksum.yml
  renovate.json
Due: oxlint, oxfmt

fix: send SIGINT to process group instead of npx process
  tests/signal.test.ts
Due: oxlint, oxfmt, typecheck
