Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

organize-imports:
  run: npx organize-imports-cli {staged_files}
  stage_fixed: true
  priority: 1

oxlint:
  run: pnpm fix:oxlint {staged_files}
  stage_fixed: true
  priority: 2

oxfmt:
  run: pnpm fix:oxfmt {staged_files}
  stage_fixed: true
  priority: 3

typecheck:
  run: pnpm typecheck

knip:
  run: pnpm knip

fix(validator): flag subcommand keys that don't match their own name
  .changeset/subcommand-key-name-validation.md
  packages/core/src/validator/command-validator.test.ts
  packages/core/src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(validator): flag key/name mismatches on async subcommand functions too
  packages/core/src/validator/command-validator.test.ts
  packages/core/src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(api-reference): fix stale Command sample and document ArgSource
  docs/api-reference.md
Due: oxfmt

docs(api-reference): document RunInvocation
  docs/api-reference.md
Due: oxfmt

docs(api-reference): use accurate wording for optional Command fields
  docs/api-reference.md
Due: oxfmt

docs(api-reference): narrow remaining Command sample inaccuracies
  docs/api-reference.md
Due: oxfmt

docs(api-reference): add missing aliases to defineCommand signature sample
  docs/api-reference.md
Due: oxfmt

docs(api-reference): fix defineCommand signature and add SubCommandsRecord
  docs/api-reference.md
Due: oxfmt

docs(api-reference): use AnyCommand in the SubCommandsRecord sample
  docs/api-reference.md
Due: oxfmt

docs(api-reference): show Command's TArgsSchema generic, add lazy brand
  docs/api-reference.md
Due: oxfmt

docs(api-reference): clarify TArgs is inferred, not a defineCommand param
  docs/api-reference.md
Due: oxfmt

fix(validator): trim key/name mismatch message, complete test matrix
  packages/core/src/validator/command-validator.test.ts
  packages/core/src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(api-reference): reword TArgs note to avoid self-contradiction
  docs/api-reference.md
Due: oxfmt

docs(api-reference): drop misleading TArgs generic, mark optional props
  docs/api-reference.md
Due: oxfmt

fix(ci): update release workflow inputs for changesets/action v2
  .github/workflows/release.yml
Due: none

perf(core): lazy-load completion internals out of the package entry point
  .changeset/perf-optimize-completion-bundle.md
  packages/core/src/cli-main.ts
  packages/core/src/completion/cache-dir.ts
  packages/core/src/completion/detect-shell.ts
  packages/core/src/completion/dynamic/complete-command.ts
  packages/core/src/completion/dynamic/schema.ts
  packages/core/src/completion/index.ts
  packages/core/src/completion/install-check.ts
  packages/core/src/completion/install.ts
  packages/core/src/completion/loader.ts
  packages/core/src/completion/schemas.ts
  packages/core/src/completion/with-completion-command.ts
  packages/core/src/index.ts
  packages/politty/tsdown.config.ts
  packages/valibot/tsdown.config.ts
  packages/zod/tsdown.config.ts
  playground/25-global-options/index.test.ts
  tests/completion.test.ts
  tests/expand-completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address self-review findings
  .changeset/perf-optimize-completion-bundle.md
  tests/completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add @politty/zod-mini: politty with zod/mini schemas
  .changeset/zod-mini-adapter-package.md
  .github/workflows/preview.yml
  README.md
  knip.json
  packages/zod-mini/bin/cli.mjs
  packages/zod-mini/package.json
  packages/zod-mini/src/adapter.test.ts
  packages/zod-mini/src/adapter.ts
  packages/zod-mini/src/cli-run.ts
  packages/zod-mini/src/cli.ts
  packages/zod-mini/src/compile-cache.ts
  packages/zod-mini/src/completion.ts
  packages/zod-mini/src/docs.ts
  packages/zod-mini/src/e2e.test.ts
  packages/zod-mini/src/index.ts
  packages/zod-mini/src/prompt-clack.ts
  packages/zod-mini/src/prompt-inquirer.ts
  packages/zod-mini/src/prompt.ts
  packages/zod-mini/src/register.ts
  packages/zod-mini/src/skill.ts
  packages/zod-mini/src/type-pins.test.ts
  packages/zod-mini/tsdown.config.ts
  pnpm-lock.yaml
  tests/dist-compat/fixtures/zod-mini-global-args-merge-negative/tsconfig.json
  tests/dist-compat/fixtures/zod-mini-global-args-merge-negative/user.ts
  tests/dist-compat/fixtures/zod-mini-global-args-merge/tsconfig.json
  tests/dist-compat/fixtures/zod-mini-global-args-merge/user.ts
  tests/dist-compat/zod-mini-package.test.ts
  tests/packaging.test.ts
  tsconfig.json
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address self-review findings for @politty/zod-mini
  docs/getting-started.md
  docs/index.md
  packages/zod-mini/src/adapter.ts
  playground/33-zod-mini/README.md
  playground/33-zod-mini/index.test.ts
  playground/33-zod-mini/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: clarify @zod/mini is a drop-in alternative import for zod-mini users
  README.md
  docs/getting-started.md
Due: oxfmt

fix: recurse through pipe wrappers when reading default/description
  .gitignore
  packages/zod-mini/src/adapter.test.ts
  packages/zod-mini/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: preserve arg() metadata through pipe wrappers; reject fractional ports
  packages/zod-mini/src/adapter.test.ts
  packages/zod-mini/src/adapter.ts
  playground/33-zod-mini/index.test.ts
  playground/33-zod-mini/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: recurse through pipe wrappers when reading default/description/arg-meta in zod adapter
  .changeset/zod-pipe-default-description.md
  packages/zod/src/adapter.test.ts
  packages/zod/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: capture process.stdout/stderr writes in log collector
  .changeset/capture-process-stream-write.md
  docs/api-reference.md
  packages/core/src/executor/log-collector.test.ts
  packages/core/src/executor/log-collector.ts
  packages/core/src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: restore process.stdout.write mock in finally in stream-write test
  packages/core/src/executor/log-collector.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: don't misapply the encoding argument in stream-write capture
  packages/core/src/executor/log-collector.test.ts
  packages/core/src/executor/log-collector.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(ci): use client-id instead of deprecated app-id for GitHub App token
  .github/workflows/release.yml
Due: none

feat(core): unify boolean env/CLI coercion with Go's strconv.ParseBool literals
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
  packages/core/src/parser/arg-parser.test.ts
  packages/core/src/parser/arg-parser.ts
  packages/core/src/parser/argv-parser.ts
  packages/core/src/parser/coerce-boolean.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for boolean env/CLI coercion
  .changeset/boolean-env-cli-strconv-parsebool.md
Due: oxfmt

fix(tests): spawn signal-test child via process.execPath
  knip.json
  tests/signal.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(ci): read only the main YAML document in lockfile-runtime-diff
  .github/scripts/lockfile-runtime-diff.mjs
Due: oxlint, oxfmt

feat: add defaultSubCommand option to defineCommand
  .changeset/default-subcommand.md
  packages/core/src/core/command.ts
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/src/validator/command-validator.test.ts
  packages/core/src/validator/command-validator.ts
  packages/core/src/validator/validation-errors.ts
  packages/zod/src/type-pins.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: skip defaultSubCommand fallback when unknown flags are present
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address Copilot and CodeRabbit review findings on defaultSubCommand
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: rename SDK-flavored fixture names to generic ones
  packages/core/src/core/run-main.test.ts
  packages/core/src/types.ts
  packages/core/src/validator/command-validator.test.ts
  packages/zod/src/type-pins.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: filter suppressed global negations from defaultSubCommand's precedingArgs
  packages/core/src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: update dts.tsgo option to object shape for tsdown 0.23.0
  .changeset/fix-tsdown-dts-tsgo-option.md
  packages/politty/tsdown.config.ts
  packages/valibot/tsdown.config.ts
  packages/zod-mini/tsdown.config.ts
  packages/zod/tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add --help-json flag for structured JSON help
  .changeset/help-json-structured-help.md
  README.md
  docs/api-reference.md
  packages/core/src/adapter/field-meta.ts
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
  packages/core/src/index.ts
  packages/core/src/output/help-generator.test.ts
  packages/core/src/output/help-generator.ts
  packages/core/src/parser/arg-parser.test.ts
  packages/core/src/parser/arg-parser.ts
  packages/core/src/parser/subcommand-scanner.test.ts
  packages/core/src/parser/subcommand-scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(build): select the tsgo DTS generator via dts.generator
  .changeset/tsdown-dts-generator-tsgo.md
  packages/politty/tsdown.config.ts
  packages/valibot/tsdown.config.ts
  packages/zod-mini/tsdown.config.ts
  packages/zod/tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(core): expose $source to global effects for commands with own args
  .changeset/source-before-global-effects.md
  README.md
  packages/core/src/core/arg-registry.ts
  packages/core/src/core/effect-runner.test.ts
  packages/core/src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

Path conditions:
  organize-imports: any of: *.{ts,tsx,cts,mts}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
  knip: any of: *.{ts,tsx,cts,mts}
