Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

organize-imports:
  run: npx organize-imports-cli {staged_files}
  stage_fixed: true
  priority: 1

oxlint:
  run: pnpm fix:oxlint {staged_files}
  stage_fixed: true
  priority: 2

oxfmt:
  run: pnpm fix:oxfmt {staged_files}
  stage_fixed: true
  priority: 3

typecheck:
  run: pnpm typecheck

knip:
  run: pnpm knip

chore: track pkg-pr-new pin with a Renovate custom manager
  renovate.json
Due: oxlint, oxfmt

fix: exclude unsupported Node 21 versions
  package-lock.json
  package.json
Due: oxlint, oxfmt

fix: only consume negative-number-like tokens as option values
  src/parser/arg-parser.test.ts
  src/parser/argv-parser.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: migrate to managerFilePatterns and set package author
  package.json
  renovate.json
Due: oxlint, oxfmt

chore: update changeset description for narrower fix
  .changeset/loud-donkeys-play.md
Due: oxfmt

fix: guard subcommand lookups against prototype-inherited names
  .changeset/silly-planets-drum.md
  src/completion/dynamic/context-parser.ts
  src/executor/subcommand-router.test.ts
  src/executor/subcommand-router.ts
  tests/dynamic-completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: update changeset description for author field fix
  .changeset/tame-lions-drum.md
Due: oxfmt

docs: update Node.js version requirement in README
  README.md
Due: oxfmt

test: clarify prototype-pollution guard does not require registered subcommands
  src/executor/subcommand-router.test.ts
  tests/dynamic-completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(parser): expose per-field arg source (cli vs env fallback)
  .changeset/expose-arg-source.md
  README.md
  src/core/command.ts
  src/core/runner.ts
  src/index.ts
  src/parser/arg-parser.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(validator): reject $-prefixed field names and fix $source case lookup
  README.md
  src/core/runner.ts
  src/index.ts
  src/parser/arg-parser.test.ts
  src/parser/arg-parser.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
  src/validator/validation-errors.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: update changeset description
  .changeset/expose-arg-source.md
Due: oxfmt

docs(validator): fix misleading validateReservedFieldNames docstring
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(runner): fix $source collision precedence and loosen its type
  src/core/command.ts
  src/core/run-main.test.ts
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): make withSkillCommand more customizable for host CLIs
  .changeset/skill-command-customization.md
  docs/api-reference.md
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/index.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/options.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): validate commandMap aliases against duplicates too
  .changeset/skill-command-customization.md
  docs/skill-management.md
  src/skill/__tests__/index.test.ts
  src/skill/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): validate commandMap token format and exclude positionals from globalArgs collision check
  .changeset/skill-command-customization.md
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/index.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/options.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): remove stale reference to a removed flags.verbose.disabled option
  docs/skill-management.md
  src/skill/__tests__/index.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): validate commandMap token format at resolution time, not just in withSkillCommand
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/index.test.ts
  src/skill/index.ts
  src/skill/options.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(runner): resolve global/local arg collision on a shared field name
  .changeset/fix-global-local-field-collision.md
  playground/25-global-options/index.test.ts
  src/core/run-main.test.ts
  src/core/runner.ts
  src/index.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
  src/validator/validation-errors.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): correct unknownKeys passthrough semantics
  .changeset/skill-command-customization.md
  docs/api-reference.md
  docs/skill-management.md
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address Copilot review feedback on collision fix
  src/core/run-main.test.ts
  src/core/runner.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): only auto-disable verbose/json against a same-named boolean globalArgs field
  src/skill/__tests__/commands.test.ts
  src/skill/options.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: pre-fill global CLI value before local validation, not just at merge time
  .changeset/fix-global-local-field-collision.md
  src/core/run-main.test.ts
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: don't let a prompt resolver's explicit undefined clobber an existing value
  src/core/run-main.test.ts
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: update changeset description
  .changeset/fix-global-local-field-collision.md
Due: oxfmt

refactor: avoid rebuilding argsToValidate per resolved prompt field
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(validator): detect same-name field conflicts against globalArgs across the whole command tree
  .changeset/fix-global-local-field-collision.md
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test(runner): cover FieldTypeConflictError via runCommand's public API
  src/core/run-main.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(runner): don't let a global prompt resolver's undefined clobber a CLI value
  .changeset/fix-global-local-field-collision.md
  src/core/run-main.test.ts
  src/core/runner.ts
  src/validator/validation-errors.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): reflect FieldTypeConflictError interaction with globalArgs auto-detection
  .changeset/skill-command-customization.md
  docs/api-reference.md
  docs/skill-management.md
  src/skill/options.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): remove incorrect alias-based remedy for FieldTypeConflictError
  docs/skill-management.md
  src/skill/options.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): add SkillCommandOptions.descriptions to override subcommand text
  .changeset/skill-command-descriptions.md
  docs/skill-management.md
  src/skill/__tests__/index.test.ts
  src/skill/__tests__/options.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/options.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test(docs): update golden markdown for 25-global-options playground
  playground/25-global-options/README.md
  playground/25-global-options/SUBCOMMANDS.md
Due: oxfmt

chore: align engines.node with oxfmt/oxlint requirement
  package.json
Due: oxlint, oxfmt

Potential fix for pull request finding
  package.json
Due: oxlint, oxfmt

feat: expose precedingArgs to onUnknownSubcommand for plugin dispatch
  .changeset/dispatch-preceding-args.md
  src/core/run-main.test.ts
  src/core/runner.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: exclude suppressed global flags from precedingArgs outside passthrough mode
  src/core/run-main.test.ts
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: share long option name extraction
  src/core/runner.ts
  src/parser/arg-parser.ts
  src/parser/long-option-resolver.test.ts
  src/parser/long-option-resolver.ts
  src/parser/subcommand-scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

Path conditions:
  organize-imports: any of: *.{ts,tsx,cts,mts}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
  knip: any of: *.{ts,tsx,cts,mts}
