Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

organize-imports:
  run: npx organize-imports-cli {staged_files}
  stage_fixed: true
  priority: 1

oxlint:
  run: pnpm fix:oxlint {staged_files}
  stage_fixed: true
  priority: 2

oxfmt:
  run: pnpm fix:oxfmt {staged_files}
  stage_fixed: true
  priority: 3

typecheck:
  run: pnpm typecheck

knip:
  run: pnpm knip

refactor: restructure prompt module into subpath-per-adapter pattern
  package.json
  pnpm-lock.yaml
  src/core/runner.ts
  src/index.ts
  src/prompt/clack-adapter.ts
  src/prompt/clack/index.ts
  src/prompt/index.test.ts
  src/prompt/index.ts
  src/prompt/inquirer/index.ts
  src/types.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: update changeset to mention inquirer adapter
  .changeset/add-prompt-module.md
Due: oxfmt

fix: use FileConfig.title and description in deriveIndexFromFiles
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for deriveIndexFromFiles fix
  .changeset/fix-derive-index-fileconfig.md
Due: oxfmt

fix: use locale-independent sort, include error reason in logs, add withSkillCommand tests
  src/skill/__tests__/index.test.ts
  src/skill/commands.ts
  src/skill/scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

move prompt adapter deps to optional peerDependencies
  package.json
Due: oxlint, oxfmt

use standard import type for ResolvedPromptConfig in prompt/index.ts
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

use standard import type for ExtractedFields in types.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

enable consistent-type-imports oxlint rule to forbid inline import() type annotations
  oxlint.json
  src/core/command.ts
  src/core/schema-extractor.ts
  src/validator/zod-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

add interactive prompts documentation
  README.md
  docs/api-reference.md
  docs/index.md
  docs/interactive-prompts.md
Due: oxfmt

chore: reorder pnpm-lock.yaml entries to match package.json sections
  pnpm-lock.yaml
Due: none

ci: use GitHub App token for changesets action
  .github/workflows/release.yml
Due: none

ci: add explicit permissions to create-github-app-token
  .github/workflows/release.yml
Due: none

ci: reduce job permissions to least-privilege
  .github/workflows/release.yml
Due: none

chore: pnpmのminimumReleaseAge設定を追加
  .npmrc
Due: none

fix: update pnpm-lock.yaml for @clack/prompts v1.2.0
  pnpm-lock.yaml
Due: none

Revert "fix: update pnpm-lock.yaml for @clack/prompts v1.2.0"
  pnpm-lock.yaml
Due: none

ci: add autofix.ci workflow for lockfile updates
  .github/workflows/lockfile.yml
Due: none

feat(skill): replace npx skills with built-in file-based installer
  .changeset/skill-metadata-wrapper.md
  README.md
  docs/api-reference.md
  docs/index.md
  docs/skill-management.md
  playground/26-skill-management/index.ts
  playground/26-skill-management/skills/commit/SKILL.md
  playground/26-skill-management/skills/review-pr/SKILL.md
  pnpm-lock.yaml
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/installer.test.ts
  src/skill/commands.ts
  src/skill/frontmatter.ts
  src/skill/index.ts
  src/skill/installer.ts
  src/skill/types.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: regenerate pnpm-lock.yaml from main to resolve PR conflict
  pnpm-lock.yaml
Due: none

fix(renovate): add internalChecksFilter strict to prevent premature PRs
  renovate.json
Due: oxlint, oxfmt

fix(renovate): override minimumReleaseAge for npm to match .npmrc constraint
  renovate.json
Due: oxlint, oxfmt

feat(arg): support long aliases and hiddenAlias
  src/augment.ts
  src/completion/bash.ts
  src/completion/dynamic/candidate-generator.ts
  src/completion/dynamic/context-parser.ts
  src/completion/extractor.ts
  src/completion/fish.ts
  src/completion/types.ts
  src/completion/zsh.ts
  src/core/arg-registry.ts
  src/core/schema-extractor.ts
  src/docs/default-renderers.ts
  src/docs/render-args.ts
  src/output/help-generator.test.ts
  src/output/help-generator.ts
  src/parser/arg-parser.test.ts
  src/parser/arg-parser.ts
  src/parser/argv-parser.ts
  src/parser/subcommand-scanner.ts
  src/validator/command-validator.ts
  tests/completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: document long alias and hiddenAlias
  .changeset/long-alias-and-hidden-alias.md
  docs/api-reference.md
  docs/essentials.md
Due: oxfmt

fix(arg): address PR review feedback
  src/core/arg-registry.ts
  src/parser/arg-parser.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address second round of PR review feedback
  src/augment.ts
  src/docs/default-renderers.test.ts
  tests/completion.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: local-vs-global camelCase collision + JSDoc cleanup
  src/core/schema-extractor.ts
  src/parser/arg-parser.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: long alias placeholder in help + alias input sanitisation
  src/core/schema-extractor.ts
  src/output/help-generator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: throw on invalid alias entries instead of silently dropping
  src/core/schema-extractor.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: validate implicit camelCase alias variants for collisions
  src/parser/arg-parser.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: readonly alias types, completion camelCase matching, local field name collision
  src/augment.ts
  src/completion/dynamic/context-parser.ts
  src/core/arg-registry.ts
  src/parser/arg-parser.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

ci: rename autofix.ci workflows to match required name
  .github/workflows/aqua-checksum.yml
  .github/workflows/lockfile.yml
Due: none

perf(ci): speed up shell completion CI jobs
  .github/workflows/ci.yml
  tests/shell-completion/bash.test.ts
  tests/shell-completion/zsh.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(ci): restore zsh install (not pre-installed on ubuntu-latest)
  .github/workflows/ci.yml
Due: none

Update long-alias-and-hidden-alias.md
  .changeset/long-alias-and-hidden-alias.md
Due: oxfmt

perf(test): reduce zsh zpty polling interval from 0.2s to 0.1s
  tests/shell-completion/zsh.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

Revert "Update long-alias-and-hidden-alias.md"
  .changeset/long-alias-and-hidden-alias.md
Due: oxfmt

perf(ci): run typecheck, lint, format, knip in parallel
  .github/workflows/ci.yml
Due: none

Path conditions:
  organize-imports: any of: *.{ts,tsx,cts,mts}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
  knip: any of: *.{ts,tsx,cts,mts}
