Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint, oxfmt, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxlint {staged_files}
      stage_fixed: true
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxfmt {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck

refactor: update typecheck scripts for incremental builds
  package.json
Due: oxlint, oxfmt

refactor: update command execution results to use success flag and improve error handling
  playground/02-greet.test.ts
  playground/05-lifecycle-hooks.test.ts
  playground/15-complete-cli.test.ts
  src/core/run-main.test.ts
  src/core/runner.ts
  src/executor/command-runner.test.ts
  src/executor/command-runner.ts
  src/index.ts
  src/types.ts
  tests/e2e-samples.test.ts
  tests/e2e.test.ts
Due: oxlint, oxfmt, typecheck

feat: implement log collection for command execution and enhance error handling
  src/core/runner.ts
  src/executor/command-runner.ts
  src/executor/log-collector.test.ts
  src/executor/log-collector.ts
  src/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

refactor: standardize import formatting and enhance type definitions across multiple files
  src/core/command.ts
  src/experiments/define-experiment.ts
  src/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat: add lazy loading support for subcommands with dynamic imports and implement analytics and heavy commands
  docs/advanced-features.md
  playground/21-lazy-subcommands.test.ts
  playground/21-lazy-subcommands.ts
  playground/commands/analytics-command.ts
  playground/commands/heavy-command.ts
Due: oxlint, oxfmt, typecheck

feat: add duplicate field and alias validation to argument parser
  playground/12-discriminated-union.test.ts
  playground/12-discriminated-union.ts
  src/core/schema-extractor.ts
  src/index.ts
  src/parser/arg-parser.test.ts
  src/parser/arg-parser.ts
Due: oxlint, oxfmt, typecheck

feat: enhance command validation and help generation
  playground/08-cat-command/README.md
  playground/12-discriminated-union/README.md
  src/core/arg-registry.ts
  src/core/meta-resolver.ts
  src/core/runner.ts
  src/core/schema-extractor.ts
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/index.ts
  src/output/help-generator.test.ts
  src/output/help-generator.ts
  src/parser/arg-parser.test.ts
  src/parser/arg-parser.ts
  src/parser/argv-parser.ts
  src/types.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
  src/validator/validation-errors.ts
Due: oxlint, oxfmt, typecheck

refactor: remove unused properties from CommandInfo and SubCommandInfo interfaces
  src/docs/doc-generator.ts
  src/docs/types.ts
Due: oxlint, oxfmt, typecheck

refactor: simplify argument destructuring in command run functions
  docs/advanced-features.md
  docs/api-reference.md
  docs/essentials.md
  docs/getting-started.md
Due: none

feat: add custom logger support for command execution
  src/core/runner.ts
  src/index.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat: change doc generation order from breadth-first to depth-first
  src/docs/golden-test.ts
Due: oxlint, oxfmt, typecheck

chore: add missing build dependencies
  package.json
  pnpm-lock.yaml
Due: oxlint, oxfmt

feat: add context-based render API and notes support for documentation
  playground/16-show-subcommand-options/README.md
  playground/17-deep-nested-subcommands/README.md
  src/core/command.ts
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
  src/output/help-generator.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat: add notes support for commands and update documentation
  docs/api-reference.md
  playground/05-lifecycle-hooks/README.md
  playground/05-lifecycle-hooks/index.ts
  playground/12-discriminated-union/README.md
  playground/12-discriminated-union/index.ts
  playground/15-complete-cli/README.md
  playground/15-complete-cli/index.ts
  src/docs/golden-test.test.ts
  src/docs/types.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

feat: add formatter support for document generation
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
Due: oxlint, oxfmt, typecheck

refactor: rename argsSchema to args for consistency
  src/core/command.test.ts
  src/core/command.ts
  src/core/runner.ts
  src/docs/doc-generator.ts
  src/experiments/define-experiment.ts
  src/output/help-generator.ts
  src/parser/arg-parser.ts
  src/types.ts
  src/validator/command-validator.ts
Due: oxlint, oxfmt, typecheck

refactor: consolidate duplicate code and add knip for unused code detection
  docs/api-reference.md
  knip.json
  lefthook.yml
  oxlint.json
  package.json
  pnpm-lock.yaml
  src/core/arg-registry.ts
  src/core/runner.ts
  src/core/schema-extractor.ts
  src/docs/doc-generator.ts
  src/docs/index.ts
  src/executor/command-runner.ts
  src/executor/subcommand-router.ts
  src/experiments/define-experiment.ts
  src/index.ts
  src/output/help-generator.ts
  src/types.ts
  src/validator/command-validator.ts
Due: oxlint, oxfmt, typecheck

docs: add comprehensive README.md
  README.md
Due: none

feat: add validation warnings based on Zod schema mode
  package-lock.json
  src/core/run-main.test.ts
  src/core/runner.ts
  src/core/schema-extractor.test.ts
  src/core/schema-extractor.ts
  src/index.ts
  src/validator/error-formatter.ts
Due: oxlint, oxfmt, typecheck

test: add short flag (alias) tests for unknown flags handling
  src/core/run-main.test.ts
Due: oxlint, oxfmt, typecheck

feat: add playground example for doc generation with mock output
  playground/22-doc-with-mock-output/README.md
  playground/22-doc-with-mock-output/index.test.ts
  playground/22-doc-with-mock-output/index.ts
Due: oxlint, oxfmt, typecheck

feat: add shell completion generation support
  src/completion/bash.ts
  src/completion/extractor.ts
  src/completion/fish.ts
  src/completion/index.ts
  src/completion/types.ts
  src/completion/zsh.ts
  src/index.ts
  tests/completion.test.ts
Due: oxlint, oxfmt, typecheck

refactor: separate completion module as optional subpath export
  oxlint.json
  package.json
  src/index.ts
  tests/completion.test.ts
  tsdown.config.ts
Due: oxlint, oxfmt, typecheck

fix: handle signal termination in SIGINT test
  tests/signal.test.ts
Due: oxlint, oxfmt, typecheck

feat: add examples field to defineCommand and example runner for docs
  playground/02-greet/README.md
  playground/02-greet/index.test.ts
  playground/02-greet/index.ts
  src/core/command.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/example-runner.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
  src/index.ts
  src/output/help-generator.ts
  src/types.ts
Due: oxlint, oxfmt, typecheck

ci: add GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

ci: add ghalint and pinact workflow
  .github/workflows/actionlint.yml
Due: none

feat: configure Renovate with 7-day release age delay
  renovate.json
Due: oxlint, oxfmt

fix(ci): use aqua-installer for ghalint and fix pinact config
  .github/workflows/actionlint.yml
Due: none

fix(ci): add aqua.yaml and pinact.yaml configurations
  .github/workflows/actionlint.yml
  aqua.yaml
  pinact.yaml
Due: none

ci: add GitHub Actions workflows for CI and workflow linting
  .github/workflows/ci.yml
  .github/workflows/workflow-lint.yml
  aqua.yaml
Due: none

fix(ci): add permissions, timeout-minutes, and persist-credentials
  .github/workflows/ci.yml
  .github/workflows/workflow-lint.yml
  package.json
Due: oxlint, oxfmt

fix(ci): use pnpm standalone mode with pnpm env for Node.js
  .github/workflows/ci.yml
Due: none

fix: format code and fix signal test for container environments
  src/completion/index.ts
  tests/signal.test.ts
Due: oxlint, oxfmt, typecheck

style: organize imports and format code
  src/augment.ts
  src/completion/bash.ts
  src/completion/fish.ts
  src/completion/index.ts
  src/completion/zsh.ts
  src/core/runner.ts
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/executor/command-runner.ts
  src/index.ts
  src/output/help-generator.ts
  src/parser/arg-parser.ts
  src/validator/command-validator.ts
  src/validator/error-formatter.test.ts
  tests/completion.test.ts
Due: oxlint, oxfmt, typecheck

refactor(ci): consolidate jobs into steps and update actions
  .github/workflows/ci.yml
  .github/workflows/workflow-lint.yml
Due: none
