Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    organize-imports:
      glob: "*.{ts,tsx,cts,mts}"
      run: npx organize-imports-cli {staged_files}
      stage_fixed: true
      priority: 1
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxlint {staged_files}
      stage_fixed: true
      priority: 2
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm fix:oxfmt {staged_files}
      stage_fixed: true
      priority: 3
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
    knip:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm knip

fix(build): generate dts with tsgo for TypeScript 7 compatibility
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset
  .changeset/fix-dts-build-ts7.md
Due: oxfmt

perf: enable Node.js on-disk compile cache for faster warm starts
  .changeset/fast-cli-startup.md
  docs/api-reference.md
  docs/recipes.md
  package.json
  src/cli-main.ts
  src/cli.ts
  src/compile-cache.test.ts
  src/compile-cache.ts
  src/core/run-main-compile-cache.test.ts
  src/core/runner.ts
  src/types.ts
  tsdown.config.ts
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: guard compile-cache tests for runtimes without support
  src/compile-cache.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(cli): add generate-shim command for compile-cache bin shims
  .changeset/fast-cli-startup.md
  docs/api-reference.md
  docs/recipes.md
  src/cli-main.ts
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
  src/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: walk up to the nearest package.json in generate-shim
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: sanitize program name before deriving the compile cache dir
  src/compile-cache.test.ts
  src/compile-cache.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(cli): derive generate-shim defaults from package.json
  .changeset/fast-cli-startup.md
  docs/api-reference.md
  docs/recipes.md
  src/cli-main.ts
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: surface compile cache setup in README and doc indexes
  README.md
  docs/getting-started.md
  docs/index.md
Due: oxfmt

feat(cli): support one shim per bin with repeatable --entry
  .changeset/fast-cli-startup.md
  README.md
  docs/api-reference.md
  docs/recipes.md
  src/cli-main.ts
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: isolate the vitest XDG cache dir per process
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: address self-review findings in generate-shim
  .changeset/fast-cli-startup.md
  docs/recipes.md
  src/cli-main.ts
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
  src/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: distinct error when no package.json validates a .js shim
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: reject extensionless shim outputs and clarify env precedence
  docs/recipes.md
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: require relative entry specifiers in generate-shim
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
  src/compile-cache.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: back the NODE_COMPILE_CACHE precedence docs with a fixture
  src/compile-cache.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: warn when an explicit out path falls back to a shared program name
  docs/api-reference.md
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
  src/compile-cache.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: clarify why sanitization keeps the completion cache shared
  src/compile-cache.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: catch file: URL self-imports in the generate-shim guard
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: use a namespace import for node:module
  src/compile-cache.test.ts
  src/compile-cache.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: degrade gracefully when politty is unresolvable from the shim
  .changeset/fast-cli-startup.md
  docs/recipes.md
  src/compile-cache-shim.test.ts
  src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: patch schema-extractor, help-generator, lazy, and build config for Perry AOT compiler compatibility
  src/core/schema-extractor.ts
  src/lazy.ts
  src/output/help-generator.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: point bin at a committed launcher instead of dist/cli.js
  .changeset/bin-launcher-script.md
  .gitignore
  bin/cli.mjs
  package.json
  tests/packaging.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: harden packaging bin regression test
  tests/packaging.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

ci: lint GitHub Actions workflows with karinto
  .github/workflows/workflow-lint.yml
  aqua-checksums.json
  aqua.yaml
Due: oxlint, oxfmt

ci: post karinto diagnostics as a PR comment
  .github/workflows/workflow-lint.yml
Due: none

ci: pin karinto endpoint and track it via Renovate
  .github/workflows/workflow-lint.yml
  renovate.json
Due: oxlint, oxfmt

ci: pin karinto to v0.9.2 instead of v0.9.1
  .github/workflows/workflow-lint.yml
Due: none

ci: address Copilot review findings on karinto workflow
  .github/workflows/workflow-lint.yml
  aqua-checksums.json
  renovate.json
Due: oxlint, oxfmt

ci: scope karinto lint to PR-changed files, full scan on config change
  .github/workflows/workflow-lint.yml
Due: none

ci: resolve karinto's own workflow-lint findings
  .github/workflows/aqua-checksum.yml
  .github/workflows/ci.yml
  .github/workflows/lockfile.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/workflow-lint.yml
Due: none

ci: address latest Copilot review round on workflow-lint.yml
  .github/workflows/workflow-lint.yml
Due: none

ci: escape diagnostic fields before rendering in the PR comment
  .github/workflows/workflow-lint.yml
Due: none

ci: clarify the karinto Renovate preset comment location
  .github/workflows/workflow-lint.yml
Due: none

refactor: decouple core from zod behind a validator adapter layer
  .changeset/validator-adapter-layer.md
  src/adapter/field-meta.ts
  src/adapter/internal-args.ts
  src/adapter/types.ts
  src/cli-main.ts
  src/completion/dynamic/complete-command.ts
  src/completion/index.ts
  src/core/arg-registry.ts
  src/core/command.ts
  src/core/runner.ts
  src/core/schema-extractor.ts
  src/docs/golden-test.ts
  src/docs/render-args.ts
  src/index.ts
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/frontmatter.test.ts
  src/skill/commands.ts
  src/skill/frontmatter-schema.ts
  src/skill/frontmatter.ts
  src/skill/index.ts
  src/skill/scanner.ts
  src/skill/types.ts
  src/validator/args-validator.test.ts
  src/validator/args-validator.ts
  src/validator/error-formatter.test.ts
  src/validator/error-formatter.ts
  src/validator/zod-validator.ts
  src/zod/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: reflect validator adapter layer in api-reference
  docs/api-reference.md
Due: oxfmt

fix: report array/null received labels in hand-rolled validators
  docs/api-reference.md
  src/adapter/internal-args.ts
  src/skill/__tests__/frontmatter.test.ts
  src/skill/frontmatter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: polish workspace-split doc comments and drop redundant shell-test adapter setup
  packages/core/src/adapter/registry.ts
  packages/core/src/adapter/types.ts
  packages/core/src/index.ts
  packages/core/src/skill/frontmatter.ts
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: verify the politty alias against built dist (runtime, subpaths, bin, GlobalArgs augmentation)
  .github/workflows/ci.yml
  tests/dist-compat/fixtures/global-args-merge-negative/tsconfig.json
  tests/dist-compat/fixtures/global-args-merge-negative/user.ts
  tests/dist-compat/fixtures/global-args-merge/tsconfig.json
  tests/dist-compat/fixtures/global-args-merge/user.ts
  tests/dist-compat/politty-alias.test.ts
  tsconfig.json
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip
