Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

organize-imports:
  run: npx organize-imports-cli {staged_files}
  stage_fixed: true
  priority: 1

oxlint:
  run: pnpm fix:oxlint {staged_files}
  stage_fixed: true
  priority: 2

oxfmt:
  run: pnpm fix:oxfmt {staged_files}
  stage_fixed: true
  priority: 3

typecheck:
  run: pnpm typecheck

knip:
  run: pnpm knip

fix: add persist-credentials: false to checkout step
  .github/workflows/aqua-checksum.yml
Due: none

feat(docs): add renderArgsTable and renderCommandIndex
  src/docs/index.ts
  src/docs/render-args.test.ts
  src/docs/render-args.ts
  src/docs/render-index.test.ts
  src/docs/render-index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(docs): always expand parent commands in renderCommandIndex
  src/docs/render-index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test(docs): update leafOnly:false test to verify child expansion
  src/docs/render-index.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: rename workflow to autofix.ci
  .github/workflows/aqua-checksum.yml
Due: none

chore: add changeset for renderArgsTable and renderCommandIndex
  .changeset/docs-render-functions.md
Due: oxfmt

feat(docs): add args and index marker support
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for args and index marker support
  .changeset/args-index-markers.md
Due: oxfmt

style: fix formatting
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: avoid mis-detecting shorthand args config when key named "args"
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: use import type instead of inline import
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: change version bump to patch
  .changeset/args-index-markers.md
Due: oxfmt

refactor: replace remaining inline imports with import type
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(completion): use compdef instead of direct function call in zsh script
  src/completion/zsh.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset
  .changeset/fix-zsh-completion-eval.md
Due: oxfmt

feat: add lightweight markdown-to-terminal renderer for help notes
  src/index.ts
  src/output/help-generator.ts
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: auto-prepend full command path in documentation examples
  .changeset/auto-prepend-command-path-examples.md
  playground/22-examples/README.md
  src/docs/default-renderers.ts
  src/docs/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: bump changeset to minor for breaking example output change
  .changeset/auto-prepend-command-path-examples.md
Due: oxfmt

fix: grant actions write permission for octocov artifact access
  .github/workflows/ci.yml
Due: none

feat: improve markdown renderer and update playground notes
  playground/05-lifecycle-hooks/README.md
  playground/05-lifecycle-hooks/index.ts
  playground/12-discriminated-union/README.md
  playground/12-discriminated-union/index.ts
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: use changeset publish for release workflow
  .github/workflows/release.yml
Due: none

fix: remove unnecessary NPM_TOKEN for trusted publishing
  .github/workflows/release.yml
Due: none

fix: use green+bold for markdown headings to distinguish from section headers
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: indent notes content under header and reduce list item indent
  src/output/help-generator.ts
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add underline to command name and leading/trailing newlines to help
  src/output/help-generator.ts
  src/output/logger.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: separate command name and description with blank line
  src/output/help-generator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add GitHub-style alert syntax support
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: use GitHub alert syntax in playground notes
  playground/05-lifecycle-hooks/README.md
  playground/05-lifecycle-hooks/index.ts
  playground/12-discriminated-union/README.md
  playground/12-discriminated-union/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

style: color and bold the │ prefix and icon in alert blocks
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for markdown renderer feature
  .changeset/add-markdown-renderer.md
Due: oxfmt

feat: show required/optional status in options documentation
  .changeset/add-required-to-options-doc.md
  playground/02-greet/README.md
  playground/03-array-args/README.md
  playground/04-type-coercion/README.md
  playground/05-lifecycle-hooks/README.md
  playground/06-cp-command/README.md
  playground/07-gcc-command/README.md
  playground/08-cat-command/README.md
  playground/09-convert-command/README.md
  playground/10-subcommands/README.md
  playground/11-nested-subcommands/README.md
  playground/12-discriminated-union/README.md
  playground/13-intersection/README.md
  playground/14-transform-refine/README.md
  playground/15-complete-cli/README.md
  playground/16-show-subcommand-options/README.md
  playground/17-deep-nested-subcommands/README.md
  playground/18-union-types/README.md
  playground/19-xor-types/README.md
  playground/20-meta/README.md
  playground/21-lazy-subcommands/README.md
  playground/22-examples/README.md
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/render-args.test.ts
  src/docs/render-args.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add markdown table syntax support to terminal renderer
  .changeset/add-markdown-table-support.md
  playground/12-discriminated-union/README.md
  playground/12-discriminated-union/index.ts
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add outer borders to markdown table rendering
  src/output/markdown-renderer.test.ts
  src/output/markdown-renderer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add global options support with documentation generation
  .changeset/gentle-things-see.md
  playground/23-global-options/docs/CLI.md
  playground/23-global-options/index.test.ts
  playground/23-global-options/index.ts
  src/core/run-main.test.ts
  src/core/runner.ts
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
  src/executor/command-runner.ts
  src/index.ts
  src/output/help-generator.ts
  src/parser/arg-parser.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: footerContent at end of document, cross-file global options link
  playground/23-global-options/docs/split/README.md
  playground/23-global-options/docs/split/build.md
  playground/23-global-options/index.test.ts
  src/docs/default-renderers.test.ts
  src/docs/default-renderers.ts
  src/docs/golden-test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add type parameter support for global args in defineCommand
  .changeset/gentle-things-see.md
  playground/23-global-options/index.ts
  src/core/command.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(docs): add globalOptions and index marker support
  src/docs/golden-test.test.ts
  src/docs/golden-test.ts
  src/docs/index.ts
  src/docs/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(playground): add global-options-index-markers example
  playground/23-global-options-index-markers/README.md
  playground/23-global-options-index-markers/REFERENCE.md
  playground/23-global-options-index-markers/index.test.ts
  playground/23-global-options-index-markers/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for globalOptions and index markers
  .changeset/global-options-index-markers.md
Due: oxfmt

fix(playground): update golden files to include Required column in options tables
  playground/23-global-options-index-markers/README.md
  playground/23-global-options-index-markers/REFERENCE.md
Due: oxfmt

Path conditions:
  organize-imports: any of: *.{ts,tsx,cts,mts}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
  knip: any of: *.{ts,tsx,cts,mts}
