Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

organize-imports:
  run: npx organize-imports-cli {staged_files}
  stage_fixed: true
  priority: 1

oxlint:
  run: pnpm fix:oxlint {staged_files}
  stage_fixed: true
  priority: 2

oxfmt:
  run: pnpm fix:oxfmt {staged_files}
  stage_fixed: true
  priority: 3

typecheck:
  run: pnpm typecheck

knip:
  run: pnpm knip

feat: add @politty/valibot: the politty API backed by valibot schemas
  .changeset/valibot-adapter-package.md
  .github/workflows/preview.yml
  README.md
  knip.json
  package.json
  packages/core/src/adapter/field-meta.ts
  packages/core/src/adapter/internal-args.ts
  packages/core/src/adapter/standard-schema.ts
  packages/core/src/core/arg-registry.ts
  packages/core/src/core/command.ts
  packages/core/src/core/schema-extractor.ts
  packages/core/src/docs/golden-test.ts
  packages/core/src/docs/render-args.ts
  packages/core/src/types.ts
  packages/core/src/validator/args-validator.ts
  packages/valibot/bin/cli.mjs
  packages/valibot/package.json
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  packages/valibot/src/cli-run.ts
  packages/valibot/src/cli.ts
  packages/valibot/src/compile-cache.ts
  packages/valibot/src/completion.ts
  packages/valibot/src/docs.ts
  packages/valibot/src/e2e.test.ts
  packages/valibot/src/index.ts
  packages/valibot/src/prompt-clack.ts
  packages/valibot/src/prompt-inquirer.ts
  packages/valibot/src/prompt.ts
  packages/valibot/src/register.ts
  packages/valibot/src/skill.ts
  packages/valibot/tsdown.config.ts
  packages/zod/src/adapter.ts
  packages/zod/src/index.ts
  pnpm-lock.yaml
  tests/dist-compat/valibot-package.test.ts
  tsconfig.json
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: scan the valibot dist recursively for zod references
  tests/dist-compat/valibot-package.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: clarify valibot adapter comments from self-review
  packages/valibot/src/adapter.ts
  packages/valibot/src/index.ts
  packages/valibot/src/register.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: detect unknown-keys mode through wrapper and pipe schemas
  packages/core/src/core/schema-extractor.test.ts
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  packages/zod/src/adapter.ts
  tests/dist-compat/valibot-package.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: only report all-string enum values from the valibot adapter
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  tests/dist-compat/politty-alias.test.ts
  tests/dist-compat/valibot-package.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address CodeRabbit review on internal args validation
  src/adapter/internal-args.ts
  src/validator/args-validator.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: re-pin adapter package APIs to their own schema types and keep pipe-composed arg() metadata
  packages/core/src/core/arg-registry.ts
  packages/core/src/core/command.ts
  packages/core/src/index.ts
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  packages/valibot/src/index.ts
  packages/valibot/src/type-pins.test.ts
  packages/zod/src/index.ts
  packages/zod/src/type-pins.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: surface build output when the dist-compat rebuild fails
  tests/dist-compat/politty-alias.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: detect number fields from numeric-only validation actions in valibot pipes
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: describe adapter registration as last-write-wins, not guarded idempotence
  packages/core/src/adapter/registry.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: build the dist-compat workspace once in globalSetup
  tests/dist-compat/global-setup.ts
  tests/dist-compat/politty-alias.test.ts
  tests/dist-compat/valibot-package.test.ts
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: record why the dist-compat globalSetup needs no timeout
  tests/dist-compat/global-setup.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: keep bigint multipleOf out of number type detection
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  tests/dist-compat/valibot-package.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: cover valibot's metadata-driven surfaces and stop emitting source maps
  .changeset/valibot-adapter-package.md
  docs/getting-started.md
  docs/index.md
  packages/valibot/src/parity.test.ts
  playground/31-valibot/README.md
  playground/31-valibot/index.test.ts
  playground/31-valibot/index.ts
  tests/dist-compat/fixtures/valibot-global-args-merge-negative/tsconfig.json
  tests/dist-compat/fixtures/valibot-global-args-merge-negative/user.ts
  tests/dist-compat/fixtures/valibot-global-args-merge/tsconfig.json
  tests/dist-compat/fixtures/valibot-global-args-merge/user.ts
  tests/dist-compat/valibot-package.test.ts
  tsconfig.json
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: record why SchemaLike is not intersected with object
  packages/core/src/adapter/standard-schema.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: identify schemas by the Standard Schema marker in docs generation
  .changeset/valibot-adapter-package.md
  packages/core/src/docs/golden-test.ts
  packages/valibot/src/parity.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: note that a brand-new package needs a manual first publish
  CLAUDE.md
Due: oxfmt

fix: match the Standard Schema marker by shape, not by key presence
  README.md
  docs/getting-started.md
  packages/core/src/docs/golden-test.test.ts
  packages/core/src/docs/golden-test.ts
  packages/valibot/src/parity.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: extract fields through wrapper schemas in both adapters
  .changeset/valibot-adapter-package.md
  packages/core/src/core/schema-extractor.test.ts
  packages/core/src/docs/golden-test.ts
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
  packages/zod/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: describe core's schema handling without naming zod
  packages/core/src/completion/extractor.ts
  packages/core/src/core/arg-registry.ts
  packages/core/src/core/command.ts
  packages/core/src/docs/golden-test.ts
  packages/core/src/docs/render-args.ts
  packages/core/src/prompt/prompt-resolver.ts
  packages/core/src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: keep the original schema when extracting wrapped composites
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: correct the dist-compat project comment after the globalSetup move
  vitest.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: ship the MIT LICENSE in every published tarball
  .changeset/valibot-adapter-package.md
  .gitignore
  packages/politty/package.json
  packages/valibot/package.json
  packages/zod/package.json
Due: oxlint, oxfmt

fix: find the coercion pipe wherever composition puts it
  .changeset/valibot-adapter-package.md
  packages/valibot/src/adapter.test.ts
  packages/valibot/src/adapter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: catch zod being inlined into the valibot dist, not just imported
  tests/dist-compat/valibot-package.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: derive the shim's compile-cache import from the host's dependencies
  .changeset/shim-compile-cache-specifier.md
  README.md
  docs/api-reference.md
  docs/recipes.md
  packages/core/src/cli-main.ts
  packages/core/src/compile-cache-shim.test.ts
  packages/core/src/compile-cache-shim.ts
  packages/core/src/compile-cache.ts
  packages/core/src/core/runner.ts
  packages/core/src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: bake the generating package's own name into the shim, not a guess
  .changeset/shim-compile-cache-specifier.md
  README.md
  docs/api-reference.md
  docs/recipes.md
  packages/core/src/cli-main.ts
  packages/core/src/compile-cache-shim.test.ts
  packages/core/src/compile-cache-shim.ts
  packages/core/src/compile-cache.ts
  packages/core/src/index.ts
  packages/politty/src/cli-run.ts
  packages/politty/src/cli.ts
  packages/politty/src/index.ts
  packages/valibot/src/cli-run.ts
  packages/valibot/src/index.ts
  packages/zod/src/cli-run.ts
  packages/zod/src/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: reject a compile-cache specifier that would break the generated shim
  packages/core/src/compile-cache-shim.test.ts
  packages/core/src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: reject every JS line terminator in the compile-cache specifier
  packages/core/src/compile-cache-shim.test.ts
  packages/core/src/compile-cache-shim.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: stop naming a politty package in compile-cache examples
  .changeset/shim-compile-cache-specifier.md
  docs/api-reference.md
  docs/recipes.md
  packages/core/src/compile-cache.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: use version ranges for devDependencies and bump them via renovate
  package.json
  packages/core/package.json
  packages/politty/package.json
  packages/valibot/package.json
  packages/zod/package.json
  pnpm-lock.yaml
  renovate.json
Due: oxlint, oxfmt

chore: auto-create changesets for Renovate PRs
  .github/actions/skip-changeset-check/action.yml
  .github/scripts/lockfile-runtime-diff.mjs
  .github/workflows/add-renovate-changeset.yml
  renovate.json
Due: oxlint, oxfmt

fix: correct stale skip-changeset-label reference in script comment
  .github/scripts/lockfile-runtime-diff.mjs
Due: oxlint, oxfmt

fix: split add-renovate-changeset into detect+commit jobs for secrets isolation
  .github/workflows/add-renovate-changeset.yml
Due: none

feat: support line breaks in help and generated documentation
  .changeset/line-break-descriptions.md
  docs/essentials.md
  packages/core/src/docs/default-renderers.test.ts
  packages/core/src/docs/default-renderers.ts
  packages/core/src/docs/option-rows.ts
  packages/core/src/output/help-generator.test.ts
  packages/core/src/output/help-generator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(playground): add multi-line description example
  playground/32-multiline-descriptions/README.md
  playground/32-multiline-descriptions/index.test.ts
  playground/32-multiline-descriptions/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

ci(peer-floor): pass --no-frozen-lockfile when pinning the peer floor
  .github/workflows/ci.yml
Due: none

fix(deps): correct peerDependencies floors and verify them in CI
  .changeset/peer-deps-floor-verification.md
  .github/scripts/pin-peer-floor.mjs
  .github/scripts/verify-peer-floor.mjs
  .github/workflows/ci.yml
  packages/politty/package.json
  packages/valibot/package.json
  packages/zod/package.json
  pnpm-lock.yaml
  renovate.json
Due: oxlint, oxfmt

chore(deps): pin devDependencies to exact versions
  package.json
  packages/core/package.json
  packages/politty/package.json
  packages/valibot/package.json
  packages/zod/package.json
  pnpm-lock.yaml
  renovate.json
Due: oxlint, oxfmt

feat(runner): expose which name/alias run() was invoked with
  .changeset/run-invocation-context.md
  docs/advanced-features.md
  packages/core/src/core/command.ts
  packages/core/src/core/run-main.test.ts
  packages/core/src/core/runner.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  playground/26-command-alias/index.test.ts
  playground/26-command-alias/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

Path conditions:
  organize-imports: any of: *.{ts,tsx,cts,mts}
  oxlint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  oxfmt: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}
  typecheck: any of: *.{ts,tsx,cts,mts}
  knip: any of: *.{ts,tsx,cts,mts}
