Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    organize-imports:
      glob: "*.{ts,tsx,cts,mts}"
      run: npx organize-imports-cli {staged_files}
      stage_fixed: true
      priority: 1
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxlint {staged_files}
      stage_fixed: true
      priority: 2
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm fix:oxfmt {staged_files}
      stage_fixed: true
      priority: 3
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
    knip:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm knip

fix: use findFirstPositional for unknown subcommand and fix trailing period
  src/core/runner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: add POLITTY_DOCS_DOCTOR mode specification
  docs/doc-generation.md
Due: oxfmt

docs: add design document for skill install/update command
  docs/design-skill-install.md
Due: oxfmt

docs: simplify skill install design to package-bundled model
  docs/design-skill-install.md
Due: oxfmt

docs: remove catalog abstraction, use sourceDirs directly
  docs/design-skill-install.md
Due: oxfmt

feat: add politty/skill module for SKILL.md-based agent skill management
  .changeset/skill-metadata-wrapper.md
  docs/design-skill-install.md
  package.json
  src/skill/__tests__/frontmatter.test.ts
  src/skill/__tests__/scanner.test.ts
  src/skill/__tests__/sync.test.ts
  src/skill/commands.ts
  src/skill/frontmatter.ts
  src/skill/index.ts
  src/skill/scanner.ts
  src/skill/sync.ts
  src/skill/types.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: delegate install/remove to vercel-labs/skills, remove sync
  src/skill/__tests__/scanner.test.ts
  src/skill/__tests__/sync.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/scanner.ts
  src/skill/sync.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: remove --package flag, scope remove to sourceDirs skills
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: simplify to single sourceDir
  src/skill/__tests__/scanner.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/scanner.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add sync command with --exclude, fix require.resolve examples
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: replace fictional package import with import.meta.url resolution
  src/skill/index.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: add skill management documentation
  .changeset/skill-metadata-wrapper.md
  README.md
  docs/api-reference.md
  docs/index.md
  docs/skill-management.md
Due: oxfmt

fix: replace custom YAML parser with yaml package, improve sync error handling
  package.json
  pnpm-lock.yaml
  src/skill/__tests__/commands.test.ts
  src/skill/commands.ts
  src/skill/frontmatter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: add missing sync subcommand to withSkillCommand docstring
  src/skill/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: clarify sync behavior for stale skills, add sync/add/remove command tests
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

ci: use ubuntu-latest runner to fix knip memory allocation failure
  .github/workflows/ci.yml
Due: none

chore: add changeset
  .changeset/fix-ci-runner.md
Due: oxfmt

fix: validate frontmatter fields, add npx --yes flag, enforce mutual exclusion of --all and name
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/frontmatter.test.ts
  src/skill/commands.ts
  src/skill/frontmatter.ts
  src/skill/scanner.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: add try/catch to scanner for FS resilience, fix SkillFrontmatter type in docs
  docs/api-reference.md
  src/skill/scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: use oxfmt JS API instead of CLI subprocess
  src/docs/golden-test.test.ts
  tests/utils/formatter.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset
  .changeset/kjjupqnqqcem.md
Due: oxfmt

feat: add PromptMeta types and resolvePrompts hook to runner pipeline
  src/core/arg-registry.ts
  src/core/runner.ts
  src/core/schema-extractor.ts
  src/index.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat: add politty/prompt module for interactive missing-option prompts
  package.json
  pnpm-lock.yaml
  src/prompt/clack-adapter.ts
  src/prompt/index.test.ts
  src/prompt/index.ts
  src/prompt/prompt-resolver.test.ts
  src/prompt/prompt-resolver.ts
  src/prompt/tty-detector.test.ts
  src/prompt/tty-detector.ts
  src/prompt/types.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: merge resolved prompt args with existing raw args in command path
  src/core/runner.ts
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: skip array fields in prompt resolver and document withPrompt behavior
  src/prompt/index.ts
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: populate enum choices when prompt.type is explicitly "select"
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: add coverage for review fixes in prompt module
  src/prompt/index.test.ts
  src/prompt/prompt-resolver.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: simplify prompt module internals
  src/prompt/clack-adapter.ts
  src/prompt/index.ts
  src/prompt/prompt-resolver.ts
  src/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

revert: remove unnecessary try/catch from tryParseSkillDir
  src/skill/scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: extract hasChoices helper to deduplicate array-length checks
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: narrow prompts to active variant for discriminatedUnion schemas
  src/prompt/index.test.ts
  src/prompt/index.ts
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: skip prompts for unmatched discriminator variants
  src/core/schema-extractor.ts
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: extract discriminator value from single-value enum schemas
  src/core/schema-extractor.test.ts
  src/core/schema-extractor.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: build discriminator choices from all variants and skip plain unions
  src/prompt/index.test.ts
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: scan all variants for discriminator prompt metadata
  src/core/schema-extractor.ts
  src/prompt/index.ts
  src/prompt/prompt-resolver.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: document intersection + discriminatedUnion prompt limitation
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

test: add coverage for global args prompting and CLI-provided discriminator
  src/prompt/index.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: consolidate discriminator field lookup and inline promptField
  src/prompt/clack-adapter.ts
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: simplify discriminator prompt resolution to direct resolvePromptConfig call
  src/prompt/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset for prompt module feature
  .changeset/add-prompt-module.md
Due: oxfmt
