Repository toiroakr/politty: changes, and which lefthook commands are due for each by the changed paths.
All: organize-imports, oxlint, oxfmt, typecheck, knip

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    organize-imports:
      glob: "*.{ts,tsx,cts,mts}"
      run: npx organize-imports-cli {staged_files}
      stage_fixed: true
      priority: 1
    oxlint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm fix:oxlint {staged_files}
      stage_fixed: true
      priority: 2
    oxfmt:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,md}"
      run: pnpm fix:oxfmt {staged_files}
      stage_fixed: true
      priority: 3
    typecheck:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm typecheck
    knip:
      glob: "*.{ts,tsx,cts,mts}"
      run: pnpm knip

perf(ci): add apt-get HTTP timeout to avoid slow mirror hangs
  .github/workflows/ci.yml
Due: none

perf(ci): use tsgo for typecheck instead of tsc
  .github/workflows/ci.yml
Due: none

fix: address review feedback on CI reliability and robustness
  .github/workflows/ci.yml
  tests/shell-completion/bash.test.ts
  tests/shell-completion/zsh.test.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(ci): apply Acquire timeout to retry apt-get install as well
  .github/workflows/ci.yml
Due: none

feat: add command alias support for subcommands
  playground/26-command-alias/README.md
  playground/26-command-alias/index.test.ts
  playground/26-command-alias/index.ts
  src/completion/bash.ts
  src/completion/dynamic/candidate-generator.ts
  src/completion/dynamic/context-parser.ts
  src/completion/extractor.ts
  src/completion/fish.ts
  src/completion/types.ts
  src/completion/zsh.ts
  src/core/command.ts
  src/core/runner.ts
  src/docs/default-renderers.ts
  src/docs/doc-generator.ts
  src/docs/types.ts
  src/executor/subcommand-router.ts
  src/output/help-generator.ts
  src/parser/arg-parser.ts
  src/types.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

chore: add changeset
  .changeset/command-alias.md
Due: oxfmt

fix: address PR review feedback on alias validation
  src/docs/default-renderers.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: address second round of PR review feedback
  src/completion/extractor.ts
  src/executor/subcommand-router.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: tighten alias validation and prefix aliases in nested help
  src/output/help-generator.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs: add command alias documentation and fix review feedback
  README.md
  docs/advanced-features.md
  docs/api-reference.md
  docs/doc-generation.md
  docs/shell-completion.md
  src/output/help-generator.ts
  src/validator/command-validator.test.ts
  src/validator/command-validator.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): spec-compliant SKILL.md parsing and source-directory scanner
  package.json
  pnpm-lock.yaml
  src/skill/__tests__/frontmatter.test.ts
  src/skill/__tests__/scanner.test.ts
  src/skill/frontmatter.ts
  src/skill/index.ts
  src/skill/scanner.ts
  src/skill/types.ts
  tsdown.config.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): atomic file-based installer with ownership stamping
  src/skill/__tests__/installer.test.ts
  src/skill/index.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): withSkillCommand wrapper + add/remove/sync/list subcommands
  .changeset/skill-metadata-wrapper.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/index.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): skill management guide and playground example
  README.md
  docs/api-reference.md
  docs/index.md
  docs/skill-management.md
  playground/26-skill-management/index.ts
  playground/26-skill-management/skills/commit/SKILL.md
  playground/26-skill-management/skills/review-pr/SKILL.md
Due: organize-imports, oxlint, oxfmt, typecheck, knip

refactor: address self-review findings
  docs/doc-generation.md
  src/completion/dynamic/candidate-generator.ts
  src/completion/dynamic/context-parser.ts
  src/core/runner.ts
  src/docs/default-renderers.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix: eliminate redundant alias lookup and fix fish completion alias paths
  docs/advanced-features.md
  src/completion/fish.ts
  src/core/runner.ts
  src/executor/subcommand-router.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): use bracket notation for metadata["politty-cli"] key consistently
  docs/api-reference.md
  docs/skill-management.md
Due: oxfmt

chore: update changeset to use bracket notation for metadata["politty-cli"]
  .changeset/skill-metadata-wrapper.md
Due: oxfmt

docs(skill): clarify directoryScanFailed covers single-skill-source edge case
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): drop inaccurate 'no-window' atomicity claim in sync comment
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): preserve existing metadata child indent and share AGENTS_SKILLS_DIR
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/installer.test.ts
  src/skill/commands.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): only take inline-metadata branch on explicit flow map
  src/skill/__tests__/installer.test.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): describe install as 'staged rename' rather than 'atomic'
  .changeset/skill-metadata-wrapper.md
  docs/api-reference.md
  docs/skill-management.md
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): surface non-ENOENT read errors and refuse malformed metadata
  docs/skill-management.md
  src/skill/__tests__/installer.test.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(ci): remove json/jsonc from oxlint lefthook glob
  lefthook.yml
Due: none

refactor(skill): make installer symlink-only with package-authored ownership
  .changeset/skill-metadata-wrapper.md
  README.md
  docs/api-reference.md
  docs/skill-management.md
  playground/26-skill-management/skills/commit/SKILL.md
  playground/26-skill-management/skills/review-pr/SKILL.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/installer.test.ts
  src/skill/__tests__/scanner.test.ts
  src/skill/commands.ts
  src/skill/installer.ts
  src/skill/scanner.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): clarify ownership stamp is declared, not written
  docs/api-reference.md
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): surface declared owner in list --json and clarify ENOENT comment
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/commands.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): rewrite withSkillCommand JSDoc for symlink-only install
  src/skill/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): label missing-source scan errors distinctly
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): refuse to clobber legacy or unstamped installs
  docs/api-reference.md
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/installer.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): surface broken SKILL.md symlinks as scan errors
  src/skill/__tests__/scanner.test.ts
  src/skill/scanner.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

docs(skill): attribute stamp validation to skills add/sync, not installSkill
  docs/api-reference.md
Due: oxfmt

fix(deps): strip duplicate YAML document from pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs(skill): attribute stamp validation to skills add/sync in guide
  docs/skill-management.md
Due: oxfmt

fix(skill): preserve owned installs when every discovered skill is invalid
  src/skill/__tests__/commands.test.ts
  src/skill/commands.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): refuse to rm real directories during uninstallSkill
  src/skill/__tests__/installer.test.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): use Object.hasOwn for subcommand conflict check
  src/skill/index.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

fix(skill): refuse to clobber real directories in install paths
  src/skill/__tests__/installer.test.ts
  src/skill/installer.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip

feat(skill): add copy mode and auto fallback for Windows support
  .changeset/skill-metadata-wrapper.md
  docs/api-reference.md
  docs/skill-management.md
  src/skill/__tests__/commands.test.ts
  src/skill/__tests__/installer-auto-fallback.test.ts
  src/skill/__tests__/installer.test.ts
  src/skill/commands.ts
  src/skill/index.ts
  src/skill/installer.ts
  src/skill/types.ts
Due: organize-imports, oxlint, oxfmt, typecheck, knip
